 #  A Whale off the Port(folio)
 ---

 In this assignment, you'll get to use what you've learned this week to evaluate the performance among various algorithmic, hedge, and mutual fund portfolios and compare them against the S&P TSX 60 Index.

In [55]:
# Initial imports
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path

%matplotlib inline

# Data Cleaning

In this section, you will need to read the CSV files into DataFrames and perform any necessary data cleaning steps. After cleaning, combine all DataFrames into a single DataFrame.

Files:

* `whale_returns.csv`: Contains returns of some famous "whale" investors' portfolios.

* `algo_returns.csv`: Contains returns from the in-house trading algorithms from Harold's company.

* `sp_tsx_history.csv`: Contains historical closing prices of the S&P TSX 60 Index.

## Whale Returns

Read the Whale Portfolio daily returns and clean the data.

In [2]:
Path.cwd()

WindowsPath('C:/Users/twigi/FT_BootCamp/W4_Assignment/pandas-homework')

In [3]:
#Set input csv files path
csvpath = Path('C:/Users/twigi/FT_BootCamp/W4_Assignment/pandas-homework/')

In [4]:
# Reading whale returns
whale_df = pd.read_csv('./Resources/whale_returns.csv')
whale_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1060 entries, 0 to 1059
Data columns (total 5 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         1060 non-null   object
 1   SOROS FUND MANAGEMENT LLC    1059 non-null   float64
 2   PAULSON & CO.INC.            1059 non-null   float64
 3   TIGER GLOBAL MANAGEMENT LLC  1059 non-null   float64
 4   BERKSHIRE HATHAWAY INC       1059 non-null   float64
dtypes: float64(4), object(1)
memory usage: 41.5+ KB

In [5]:
# Count nulls
whale_df.isnull().sum()

Date                           0
SOROS FUND MANAGEMENT LLC      1
PAULSON & CO.INC.              1
TIGER GLOBAL MANAGEMENT LLC    1
BERKSHIRE HATHAWAY INC         1
dtype: int64

In [6]:
# Drop nulls
whale_df = whale_df.dropna()

In [7]:
#check nulls values are dropped
whale_df.isnull().sum()

Date                           0
SOROS FUND MANAGEMENT LLC      0
PAULSON & CO.INC.              0
TIGER GLOBAL MANAGEMENT LLC    0
BERKSHIRE HATHAWAY INC         0
dtype: int64

In [8]:
#convert date string to datetime
whale_df["Date"] = pd.to_datetime(whale_df["Date"], infer_datetime_format = True)
whale_df["Date"].head()

1   2015-03-03
2   2015-03-04
3   2015-03-05
4   2015-03-06
5   2015-03-09
Name: Date, dtype: datetime64[ns]

## Algorithmic Daily Returns

Read the algorithmic daily returns and clean the data.

In [9]:
# Reading algorithmic returns
algo_df = pd.read_csv('./Resources/algo_returns.csv')
algo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1241 entries, 0 to 1240
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1241 non-null   object
 1   Algo 1  1241 non-null   float64
 2   Algo 2  1235 non-null   float64
dtypes: float64(2), object(1)
memory usage: 29.2+ KB

In [10]:
# Count nulls
algo_df.isnull().sum()

Date      0
Algo 1    0
Algo 2    6
dtype: int64

In [11]:
# Drop nulls
algo_df = algo_df.dropna()

In [12]:
#check nulls values are dropped
algo_df.isnull().sum()

Date      0
Algo 1    0
Algo 2    0
dtype: int64

In [13]:
#convert date string to datetime
algo_df["Date"] = pd.to_datetime(algo_df["Date"], infer_datetime_format = True)
algo_df["Date"].head()

6    2014-06-05
7    2014-06-06
8    2014-06-09
9    2014-06-10
10   2014-06-11
Name: Date, dtype: datetime64[ns]

## S&P TSX 60 Returns

Read the S&P TSX 60 historic closing prices and create a new daily returns DataFrame from the data.

In [14]:
# Reading S&P TSX 60 Closing Prices
sptsx60_df = pd.read_csv('./Resources/sp_tsx_history.csv')
sptsx60_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1818 entries, 0 to 1817
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1818 non-null   object
 1   Close   1818 non-null   object
dtypes: object(2)
memory usage: 28.5+ KB

In [15]:
# Check Data Types
sptsx60_df.dtypes

Date     object
Close    object
dtype: object

In [16]:
# Fix Data Type - Close
#first replace "$" and "," with blank
sptsx60_df["Close"] = sptsx60_df["Close"].str.replace("$","")
sptsx60_df["Close"] = sptsx60_df["Close"].str.replace(",","")

C:\Users\twigi\AppData\Local\Temp\ipykernel_5708\206092060.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  sptsx60_df["Close"] = sptsx60_df["Close"].str.replace("$","")

In [17]:
#convert close string to into float
sptsx60_df["Close"] = pd.to_numeric(sptsx60_df["Close"], downcast = "float")

In [18]:
# Fix Data Type - Date
# convert date string to datetime format
sptsx60_df["Date"] = pd.to_datetime(sptsx60_df["Date"], yearfirst = True, infer_datetime_format = True)

In [19]:
#Check data types fixed
sptsx60_df.dtypes

Date     datetime64[ns]
Close           float32
dtype: object

In [20]:
# Calculate Daily Returns
sptsx60_daily_returns = pd.DataFrame ({ "Date" : sptsx60_df["Date"],
                                        "sptsx60": sptsx60_df["Close"].pct_change()})
sptsx60_daily_returns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1818 entries, 0 to 1817
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     1818 non-null   datetime64[ns]
 1   sptsx60  1817 non-null   float32
dtypes: datetime64[ns](1), float32(1)
memory usage: 21.4 KB

In [21]:
#check nulls in daily return df
sptsx60_daily_returns.isnull().sum()

Date       0
sptsx60    1
dtype: int64

In [22]:
# Drop nulls
sptsx60_daily_returns = sptsx60_daily_returns.dropna()

In [23]:
#check nulls is dropped
sptsx60_daily_returns.isnull().sum()

Date       0
sptsx60    0
dtype: int64

In [24]:
# Rename `Close` Column to be specific to this portfolio.

In [25]:
sptsx60_daily_returns["Date"]

1      2012-10-02
2      2012-10-03
3      2012-10-04
4      2012-10-05
5      2012-10-09
          ...
1813   2019-12-20
1814   2019-12-23
1815   2019-12-24
1816   2019-12-27
1817   2019-12-30
Name: Date, Length: 1817, dtype: datetime64[ns]

## Combine Whale, Algorithmic, and S&P TSX 60 Returns

In [26]:
# Join Whale Returns, Algorithmic Returns, and the S&P TSX 60 Returns into a single DataFrame with columns for each portfolio's returns.
combined_df = pd.merge (pd.merge(whale_df, algo_df, how="outer", on="Date"), sptsx60_daily_returns, how="outer", on="Date")
combined_df.head()

,Date,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC,Algo 1,Algo 2,sptsx60
0,2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569,-0.001942,-0.000949,-0.008530
1,2015-03-04,0.002230,0.003241,-0.002534,0.004213,-0.008589,0.002416,-0.003371
2,2015-03-05,0.004016,0.004076,0.002355,0.006726,-0.000955,0.004323,0.001344
3,2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098,-0.004957,-0.011460,-0.009972
4,2015-03-09,0.000582,0.004225,0.005843,-0.001652,-0.005447,0.001303,-0.006555

In [56]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1845 entries, 0 to 1844
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         1845 non-null   datetime64[ns]
 1   SOROS FUND MANAGEMENT LLC    1059 non-null   float64
 2   PAULSON & CO.INC.            1059 non-null   float64
 3   TIGER GLOBAL MANAGEMENT LLC  1059 non-null   float64
 4   BERKSHIRE HATHAWAY INC       1059 non-null   float64
 5   Algo 1                       1235 non-null   float64
 6   Algo 2                       1235 non-null   float64
 7   sptsx60                      1817 non-null   float32
dtypes: datetime64[ns](1), float32(1), float64(6)
memory usage: 122.5 KB

In [57]:
combined_df.describe()

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC,Algo 1,Algo 2,sptsx60
count,1059.000000,1059.000000,1059.000000,1059.000000,1235.000000,1235.000000,1817.000000
mean,0.000179,-0.000203,-0.000081,0.000501,0.000654,0.000341,0.000200
std,0.007842,0.006977,0.010824,0.012831,0.007988,0.008466,0.006637
min,-0.032711,-0.032099,-0.139820,-0.066505,-0.030951,-0.036937,-0.031241
25%,-0.003594,-0.003961,-0.004746,-0.005515,-0.003252,-0.003733,-0.003156
50%,0.000467,0.000000,0.000232,0.000617,0.000094,0.000581,0.000653
75%,0.004292,0.003567,0.005176,0.007516,0.003901,0.005194,0.004115
max,0.042977,0.029338,0.080705,0.061341,0.098246,0.083734,0.029389

---

# Conduct Quantitative Analysis

In this section, you will calculate and visualize performance and risk metrics for the portfolios.

## Performance Anlysis

#### Calculate and Plot the daily returns.

In [27]:
# Plot daily returns of all portfolios

#### Calculate and Plot cumulative returns.

In [28]:
# Calculate cumulative returns of all portfolios

# Plot cumulative returns

---

## Risk Analysis

Determine the _risk_ of each portfolio:

1. Create a box plot for each portfolio. 
2. Calculate the standard deviation for all portfolios.
4. Determine which portfolios are riskier than the S&P TSX 60.
5. Calculate the Annualized Standard Deviation.

### Create a box plot for each portfolio

In [29]:
# Box plot to visually show risk

### Calculate Standard Deviations

In [30]:
# Calculate the daily standard deviations of all portfolios

### Determine which portfolios are riskier than the S&P TSX 60

In [31]:
# Calculate  the daily standard deviation of S&P TSX 60

# Determine which portfolios are riskier than the S&P TSX 60

### Calculate the Annualized Standard Deviation

In [32]:
# Calculate the annualized standard deviation (252 trading days)

---

## Rolling Statistics

Risk changes over time. Analyze the rolling statistics for Risk and Beta. 

1. Calculate and plot the rolling standard deviation for all portfolios using a 21-day window.
2. Calculate the correlation between each stock to determine which portfolios may mimick the S&P TSX 60.
3. Choose one portfolio, then calculate and plot the 60-day rolling beta for it and the S&P TSX 60.

### Calculate and plot rolling `std` for all portfolios with 21-day window

In [33]:
# Calculate the rolling standard deviation for all portfolios using a 21-day window

# Plot the rolling standard deviation

### Calculate and plot the correlation

In [34]:
# Calculate the correlation

# Display de correlation matrix

### Calculate and Plot Beta for a chosen portfolio and the S&P 60 TSX

In [35]:
# Calculate covariance of a single portfolio

# Calculate variance of S&P TSX

# Computing beta

# Plot beta trend

## Rolling Statistics Challenge: Exponentially Weighted Average 

An alternative way to calculate a rolling window is to take the exponentially weighted moving average. This is like a moving window average, but it assigns greater importance to more recent observations. Try calculating the [`ewm`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html) with a 21-day half life for each portfolio, using standard deviation (`std`) as the metric of interest.

In [36]:
# Use `ewm` to calculate the rolling window

---

# Sharpe Ratios
In reality, investment managers and thier institutional investors look at the ratio of return-to-risk, and not just returns alone. After all, if you could invest in one of two portfolios, and each offered the same 10% return, yet one offered lower risk, you'd take that one, right?

### Using the daily returns, calculate and visualize the Sharpe ratios using a bar plot

In [37]:
# Annualized Sharpe Ratios

In [38]:
# Visualize the sharpe ratios as a bar plot

### Determine whether the algorithmic strategies outperform both the market (S&P TSX 60) and the whales portfolios.

Write your answer here!

---

# Create Custom Portfolio

In this section, you will build your own portfolio of stocks, calculate the returns, and compare the results to the Whale Portfolios and the S&P TSX 60. 

1. Choose 3-5 custom stocks with at last 1 year's worth of historic prices and create a DataFrame of the closing prices and dates for each stock.
2. Calculate the weighted returns for the portfolio assuming an equal number of shares for each stock.
3. Join your portfolio returns to the DataFrame that contains all of the portfolio returns.
4. Re-run the performance and risk analysis with your portfolio to see how it compares to the others.
5. Include correlation analysis to determine which stocks (if any) are correlated.

## Choose 3-5 custom stocks with at last 1 year's worth of historic prices and create a DataFrame of the closing prices and dates for each stock.

In [39]:
# Reading data from 1st stock

In [40]:
# Reading data from 2nd stock

In [41]:
# Reading data from 3rd stock

In [42]:
# Combine all stocks in a single DataFrame

In [43]:
# Reset Date index

In [44]:
# Reorganize portfolio data by having a column per symbol

In [45]:
# Calculate daily returns

# Drop NAs

# Display sample data

## Calculate the weighted returns for the portfolio assuming an equal number of shares for each stock

In [46]:
# Set weights
weights = [1/3, 1/3, 1/3]

# Calculate portfolio return

# Display sample data

## Join your portfolio returns to the DataFrame that contains all of the portfolio returns

In [47]:
# Join your returns DataFrame to the original returns DataFrame

In [48]:
# Only compare dates where return data exists for all the stocks (drop NaNs)

## Re-run the risk analysis with your portfolio to see how it compares to the others

### Calculate the Annualized Standard Deviation

In [49]:
# Calculate the annualized `std`

### Calculate and plot rolling `std` with 21-day window

In [50]:
# Calculate rolling standard deviation

# Plot rolling standard deviation

### Calculate and plot the correlation

In [51]:
# Calculate and plot the correlation

### Calculate and Plot the 60-day Rolling Beta for Your Portfolio compared to the S&P 60 TSX

In [52]:
# Calculate and plot Beta

### Using the daily returns, calculate and visualize the Sharpe ratios using a bar plot

In [53]:
# Calculate Annualized Sharpe Ratios

In [54]:
# Visualize the sharpe ratios as a bar plot

### How does your portfolio do?

Write your answer here!